[Unit]
Description=API PharmaMind (backend)
After=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/var/www/pharmamind-api
ExecStart=/usr/bin/node dist/server.js
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
